#info{
    display: flex;
    justify-content: space-between;
    height: 390px;
    background-image: url("../../public/images/footer-bg.jpg");
    position: relative;

    .info-container{
        padding: 50px 0 50px 200px;
        display: flex;
        gap: 30px;

        h3{
            color: white;
            margin-bottom: 10px;
            font-weight: 600;
        }

        ul{
            color: rgba(255, 255, 255, 0.63);
            font-size: 11px;
            line-height: 200%;
            margin-bottom: 20px;

            li{
                cursor: pointer;
            }
        }
    }

    .big-logo{
        margin-right: 200px;
        position: absolute;
        right: 0;
        top: -100px;
        z-index: 0;
    }
}

#contacts{
    height: 120px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;

    .register{
        margin-left: 200px;
        border: 3px solid #0282f9;
        padding: 16px;
        cursor: pointer;

        a{
            color: white;
            font-size: 18px;
        }
    }

    .socials{
        margin-right: 200px;
        display: flex;
        align-items: center;

        h3{
            color: #0282f9;
            margin-right: 20px;
            font-weight: 600;
        }

        .social-icons{
            display: flex;
            gap: 20px;

            img{
                cursor: pointer;
            }
        }
    }
}
